<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>400 Bad Request</title>
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1><div class="words">
        <span>4</span>
        <span>0</span>
        <span>0</span>
    </div>
</h1>
<h1><div class="words">
    <span>B</span>
    <span>a</span>
    <span>d</span>
    &nbsp;
    <span>R</span>
    <span>e</span>
    <span>q</span>
    <span>u</span>
    <span>e</span>
    <span>s</span>
    <span>t</span>
  </div>
</h1>
<p style="text-align:center"><a class="back" href="/">BACK</a></p>
</body>
</html>