<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>404 Page Not Found</title>
        <link href="../static/img/404.ico" rel="icon" type="image/x-icon">
        <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    </head>

    <body>
            <h1><div class="words">
                    <span>4</span>
                    <span>0</span>
                    <span>4</span>
                </div>
            </h1>
            <h1><div class="words">
                <span>P</span>
                <span>a</span>
                <span>g</span>
                <span>e</span>
                &nbsp;
                <span>N</span>
                <span>o</span>
                <span>t</span>
                <br>
                <span>F</span>
                <span>o</span>
                <span>u</span>
                <span>n</span>
                <span>d</span>
              </div>
            </h1>
            <p style="text-align:center"><a class="back" href="/">BACK</a></p>
    </body>
</html>